@page "/counter"

<PageTitle>Mapping</PageTitle>

<h1>Mapping</h1>
<p class="text-danger">@Mapping.Error</p>

<EditForm Model="@Mapping">
    <div class="form-group">
        <label for="input">input</label>
        <InputTextArea class="form-control"
            id="input"
            @bind-Value="Mapping.Input"
            placeholder="input"
            rows="20"
            spellcheck="false"></InputTextArea>
    </div>
    <div class="form-group">
        <label for="mappings">mappings</label>
        <InputTextArea class="form-control"
            placeholder="mappings"
            id="mappings"
            @bind-Value="Mapping.Mappings"
            rows="20"
            spellcheck="false"></InputTextArea>
    </div>
    <div class="form-group">
        <label for="output">output</label>
        <InputTextArea class="form-control"
            placeholder="output"
            id="output"
            @bind-Value="Mapping.Output"
            rows="20"
            spellcheck="false"></InputTextArea>
    </div>
</EditForm>
<br />
<button class="btn btn-primary" @onclick="Map">Apply</button>
