@page "/"

<PageTitle>Index</PageTitle>

<h1>Cadmus Graph Mapping Demo</h1>

<p>Welcome to the Cadmus graph mapper demo. This tool is essentially used for interactively testing the backend components, and help defining mapping rules.</p>
<p>The UI is thus minimal, and based on Blazor so that it can directly consume backend components in a serverless frontend UI.</p>
